@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
body{
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
.color-fucsia{
  color: #CF387A;

}
.color-yellow{
  color:#F9CD09;
}
.color-black{
  background-color:rgb(53, 50, 50);
  color:#fff;
  text-align: center;
height:30px;
}
/**Estilos de header*/
.header{
    height:60px;
}
  .back-img{
    background-image: url(./img/sin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    justify-content: center;
    position:relative;
  }
  .back-img .contenedor{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .back-img h4{
    font-size: 28px;
  }
  .back-img a{
    display: block;
    width:350px;
    text-decoration: none;
    color:#CF387A;
    padding:30px;
    margin-top:30px;
    border: 3px solid #CF387A;
    text-align: center;
    border-radius: 5px;
font-size:15px;
  }
  .margin{
    padding-left: 40px;
}
.margin-phrase{
  padding-left: 60px;
}
.bold{
  font-weight: bold;
}
.pad{
  padding-top: 40px;
}
  .btn-service{
    border: 2px solid #CF387A;
    background: transparent;
    padding: 35px;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    font-size: 18px;
    
  }
  .bold{
    font-size:30px;
  }
 
 .img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px; 
  height:300px;
  justify-content: center;
}
.img-little{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
width: 200px;
height:200px;
  justify-content: center;
}
.img1{
  background-image: url(./img/dinero.png);

}
.img2{
  background-image: url(./img/info.png);
}
.img3{
  background-image: url(./img/motos.png);

}
.img4{
  background-image: url(./img/vendo.jpg);
position: relative;
}
.img5{
  background-image: url(./img/vitrna.jpg);
  position: absolute;
}
.img6{
  background-image: url(./img/at.jpg);
}
.img7{
  background-image: url(./img/chica-dinero.png);
}
.div-fucsia{
background-color: #CF387A;
}
.contenedor{
  width:98%;
  margin:auto;
}
.yellow-btn{
background-color: #F9CD09;
color:#fff;
text-align: center;
    border-radius: 1px;
    width: 300px;
    height: 50px;
    border: none;
font-size:15px;
}
/* .flx-contain > div{
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  width: 400px;
  height:500px;
}  */