.navbar{
	background-color: #F9CD09!important;
	padding-top: 10px;
	border:transparent;
}

.navbar li{
  font-size: 14px;   
}

.navbar .navbar-nav>.active>.nav-link{
  color:#CF387A;
  font-weight: bold;	
  font-size: 16px
}
.pink {
  color:#CF387A;
  font-weight: bold;	
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link{
  color: #ffffff;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color:#CF387A;
}

.content-bienvenida{
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  padding: 5px 25px;
}
.h2{ 
 text-align: center;
  width: 100%;
  height: 100%;
}

.p{ 
  text-align: center;
  width: 100%;
  height: 100%;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "cuanto-dinero    cuanto-tiempo   debo-pagar   resumen-pago "
                      "tce                 tce            tce          button-solicitar"
                      "importante         importante      importante  importante";
}

.contenedor .cuanto-dinero{
  grid-area: cuanto-dinero;
  text-align: center;  
}

.cuanto-dinero-element{
  display: flex;
  justify-content: center;  
  color: #333333
}
.more {
  background: #F9CD09;
  padding: 5px 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px

}
 .less{
  background: #F9CD09;
  padding: 5px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px
  }


.cuanto-dinero-element span{
  background: #e6e6e6;
  padding: 5px 20px;

  }
.month {
  font-size: 14px;
}

.resumen-pago-element{
  height: 80%;
  width: 100%;
  margin: auto;
  display: flex;  
  flex-direction: row; 
  border-radius: 5px;
  font-size: 13px;
}
.select {
  background-color: #e6e6e6;
  border-radius: 10%;
  width: 55%;
  height: 60%;
  padding: 2%;
}

.prestamo, .interes, .total-pagar {
  background: #e6e6e6;
  width: 100%;
  padding: 5px;
}

.contenedor .cuanto-tiempo{
  grid-area: cuanto-tiempo;
  text-align: center;
}

.contenedor .debo-pagar{
  grid-area: debo-pagar;
}

.debo-pagar .p-debo-pagar{
  font-size: 30px;
  font-weight: bold
}


.contenedor .tce{
  grid-area: tce
}


.contenedor .button-solicitar{
  grid-area: button-solicitar;

}

.btn-solicitar{
  border-radius: 10px;
  background-color: #CF387A;
  padding: 10px 70px ;
  color: #ffffff;
  border: none;

}
.tce1 {
  font-size: 15px;
}
.import {
  font-weight: 700;
}

.importante p{
  text-align: justify;  
  font-size: 13px;
}
.ml1 {
  margin-left: 18%;
}
/* .img01 {
  background-image: url(../img/cont.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px; 
    height: 300px;
    margin-left: 10%;
    margin-top: 5%;
}
.img02 {
  background-image: url(../img/money.png); 
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px; 
    height: 300px;
    margin-left: 10%;
    margin-top: 5%;
}
.img03 {
  background-image: url(../img/req01.png); 
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 300px;
    margin-left: 10%;
    margin-top: 5%;
}
.img04 {
  background-image: url(../img/be01.png); 
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
    height: 300px;
    margin-left: 10%;
    margin-top: 5%;
} */
