h3{
    color: #F9CD09;
    font-weight: 600;
}
.cuadrum{
    background-color: #D3D3D3;
    font-size: 40px; 
    font-weight: 700;
}
.monthText{
    font-size: 20px; 
display: block;
font-weight: 700;
}