.yellow-underline{
  border: none;
  border-bottom: 2px solid #F9CD09;
  outline:none;
}
.title-input{
color:#F9CD09;
font-size: 15px;
}
.mainTitle{
  font-weight: 900;
  font-size: 20px;
}
.form-row{
  margin-left: 80px;
}
.hey{
  display: inline-block;
  margin: 25px;
}